# Folders
Backup/
Info/
Install/
MyBooks/bin/
MyBooks/obj/
MyBooks/img_src/

# User files
.gitignore
.vs/
*.user
MyBooks/ProgramSettings.cs


# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
